.slider {
  margin: 4rem auto;
  width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.slide {
  display: flex;
  overflow: hidden;
  box-shadow: var(--box-shadow-center);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.form button {
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--cyan-500);
  color: var(--white);
  font-weight: 400;
}

.form {
  margin: 0 auto;
}

.form input {
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  border: var(--border-gray-200);
  width: 40rem;
  margin-right: 1rem;
}

.form input:focus {
  outline: none;
  border: var(--border-cyan-500);
}

.progress {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
}
