.container {
  color: var(--white);
  padding: 3rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.container h5 {
  font-size: 2rem;
}

.container p {
  font-size: 1.4rem;
}

.actions a {
  margin: 1.4rem 0.6rem 0;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s;
  color: var(--blue-600);
  background-color: var(--white);
  width: 12rem;
}
