@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap");

:root {
  --text-color: #1f2937;
  --text-color-gray: #6b7280;
  --white: #fff;
  --gray-50: #f9fafb;
  --cyan-500: #4ccce9;
  --cyan-600: #33b6d3;
  --blue-100: #eef5ff;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --red-500: #ef4444;

  --border-gray-100: 1px solid #f3f4f6;
  --border-blue-500: 1px solid #3b82f6;
  --border-blue-600: 1px solid #2563eb;

  --page-width: 96rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend", sans-serif;
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--blue-100);
}

input,
button {
  font-family: "Lexend", sans-serif;
}

button {
  border: none;
}

ul {
  list-style: none;
}

a {
  font-family: "Lexend", sans-serif;
  text-decoration: none;
}
