.container {
  max-width: 37rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 400;
}

.form {
  padding: 2.5rem 1.5rem;
  border-radius: 1.2rem;
  background-color: var(--gray-50);
  border: var(--border-gray-100);
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}

.form label {
  font-size: 1.4rem;
}

.form input {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: var(--border-gray-100);
}

.form input:focus {
  outline: var(--blue-500);
  outline-style: auto;
}

.form button {
  width: 100%;
  cursor: pointer;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: var(--blue-500);
  color: var(--white);
  transition: all 0.3s;
}

.form button:hover {
  background-color: var(--cyan-500);
}

.form button:disabled {
  cursor: not-allowed;
}

.alt {
  padding: 1.4rem;
  border-radius: 1rem;
  border: var(--border-gray-100);
  text-align: center;
  font-size: 1.4rem;
}

.alt a:link,
.alt a:visited {
  color: var(--blue-600);
}

.alt a:hover,
.alt a:active {
  text-decoration: underline;
}
