.card {
  min-width: 80rem;
  border-radius: 1.5rem;
  padding: 4rem;
  padding-left: 3rem;
  font-size: 1.6rem;
}

.inner {
  position: relative;
  width: 100%;
  height: 20rem;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}

.back {
  transform: rotateX(180deg);
}

.flip-button,
.heart-button {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 200;
  width: 2rem;
  border-radius: 10rem;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-500);
}

.heart-button {
  right: 6rem;
}

.audio {
  border: none;
  background-color: transparent;
  width: 1.8rem;
  cursor: pointer;
  color: var(--blue-500);
}

.image {
  width: 20rem;
  height: 20rem;
  justify-self: center;
  border: var(--border-gray-100);
  border-radius: 2rem;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

.form {
  color: var(--cyan-500);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.definition {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}

.word {
  font-size: 2.5rem;
  font-weight: 500;
}

.phonetic {
  color: var(--gray-400);
  display: flex;
  gap: 1rem;
}

.mean {
  font-size: 2rem;
  font-weight: 400;
  color: var(--cyan-500);
}

.example {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: var(--gray-400);
}

.sentence {
  font-size: 1.6rem;
  color: var(--text-color);
}
